<div id="popup-modal" tabindex="-1"
    class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
    style="background-color: rgba(100, 100, 120, .8);">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-gray-800 border border-gray-700 rounded-lg shadow-sm p-4 md:p-6">
            <button type="button" (click)="onCancelEvent()"
                class="absolute cursor-pointer top-3 end-2.5 text-gray-400 bg-transparent hover:bg-neutral-tertiary hover:text-white rounded-lg text-sm w-9 h-9 ms-auto inline-flex justify-center items-center"
                data-modal-hide="popup-modal">
                <iconify-icon icon="heroicons-outline:x" width="20" height="20" class="w-5 h-5" />
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 md:p-5 text-center">
                <iconify-icon [attr.icon]="icon()" width="48" height="48" 
                    class="mx-auto mb-4 text-fg-disabled w-12 h-12" />
                <h3 class="mb-6 text-gray-400">{{ message() }}</h3>
                <div class="flex items-center space-x-4 justify-center">
                    <button data-modal-hide="popup-modal" type="button" (click)="onConfirmEvent()"
                        class="cursor-pointer text-white bg-red-600 box-border border border-transparent hover:bg-red-800 focus:ring-4 focus:ring-danger-medium shadow-sm font-medium leading-5 rounded-lg text-sm px-4 py-2.5 focus:outline-none">
                        {{ confirmText() }}
                    </button>
                    <button data-modal-hide="popup-modal" type="button" (click)="onCancelEvent()"
                        class="cursor-pointer text-gray-400 bg-gray-700 box-border border border-gray-500 hover:bg-gray-800 hover:text-white focus:ring-4 focus:ring-neutral-tertiary shadow-sm font-medium leading-5 rounded-lg text-sm px-4 py-2.5 focus:outline-none">
                        {{ cancelText() }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>