<div id="budget-modal" tabindex="-1"
    class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full flex"
    style="background-color: rgba(100, 100, 120, .8);">
    <div class="relative p-4 w-full max-w-4xl h-full md:h-auto">
        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    {{ title() }}
                </h3>
                <button type="button" (click)="onCloseEvent()"
                    class="text-gray-400 cursor-pointer bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-toggle="defaultModal">
                    <iconify-icon icon="heroicons-outline:x" width="20" height="20" />
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <!-- Modal body -->
            <form action="#">
                <div class="grid gap-4 mb-4 sm:grid-cols-1">
                    <div>
                        <label for="name"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                        <input type="text" id="name" name="name" [(ngModel)]="name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                    </div>
                    <div>
                        <label for="category"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
                        <select id="category" name="category" required [(ngModel)]="categoryId"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="">Select category</option>
                            @for(category of categoryStore.items(); track category.id) {
                            <option [value]="category.id">
                                {{ category.name }}
                            </option>
                            }
                        </select>
                    </div>
                    <div>
                        <label for="daterange_start_month"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Daterange</label>
                        <div class="grid grid-cols-5 gap-2">
                            <select id="daterange_start_month" name="daterange_start_month" required 
                                [(ngModel)]="daterange_start_month" 
                                (ngModelChange)="daterange_start_month.set(+$event)"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                @for(month of startMonthList(); track month.value) {
                                <option [value]="month.value">
                                    {{ month.label }}
                                </option>
                                }
                            </select>
                            <select id="daterange_start_year" name="daterange_start_year" required      
                                [(ngModel)]="daterange_start_year"
                                (ngModelChange)="daterange_start_year.set(+$event)"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                @for(year of startYearList(); track year.value) {
                                <option [value]="year.value">
                                    {{ year.label }}
                                </option>
                                }
                            </select>
                            <div class="flex items-center justify-center">-</div>
                            <select id="daterange_end_month" name="daterange_end_month" required 
                                [(ngModel)]="daterange_end_month"
                                (ngModelChange)="daterange_end_month.set(+$event)"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                @for(month of endMonthList(); track month.value) {
                                <option [value]="month.value">
                                    {{ month.label }}
                                </option>
                                }
                            </select>
                            <select id="daterange_end_year" name="daterange_end_year" required 
                                [(ngModel)]="daterange_end_year"
                                (ngModelChange)="daterange_end_year.set(+$event)"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                @for(year of endYearList(); track year.value) {
                                <option [value]="year.value">
                                    {{ year.label }}
                                </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="amount"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Amount</label>
                        <input type="number" name="amount" id="amount" [(ngModel)]="amount"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="10.00" required="">
                    </div>
                </div>
                <div
                    class="flex items-center justify-start pt-2 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button type="button" (click)="onSaveEvent()"
                        class="text-white cursor-pointer inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <iconify-icon icon="heroicons-outline:save" class="mr-2" width="20" height="20" />
                        Save
                    </button>
                    <button type="button" (click)="onCloseEvent()"
                        class="text-white cursor-pointer inline-flex items-center bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                        <iconify-icon icon="proicons:cancel-circle" class="mr-2" width="20" height="20" />
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>